body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  margin: 15px 5px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menu {
  font-weight: bold;
  background-image: url("./images/menuPlate.PNG");
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 134px;
  width: 242px;
  align-items: center;
  position: absolute;
  top: 370px;
  left: 70px;
}

#menu button {
  margin: 20px 5px 0 5px;
  display: inline;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  color: green;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 7px 7px;
  text-decoration: none;
}
#menu button:active {
  position: relative;
  top: 1px;
}

#menu .start {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: green;
  color: white;
}

#win-div {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  width: 250px;
  border: 2px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#windAlert {
  font-family: "IBM Plex Mono";
  animation: blinker 1.2s linear infinite;
  position: absolute;
  display: none;
  font-weight: bold;
  width: 200px;
  background-color: rgba(255, 0, 0, 0.8);
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}

@keyframes blinker {
  0% {
    opacity: 100;
  }
  49% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 100;
  }
}

#restart-div {
  position: absolute;
  display: none;
  background-color: white;
  width: 200px;
  border: 2px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#muteBtn {
  font-size: 24px;
  display: inline;
  position: absolute;
  border-radius: 50%;
  border-style: none;
  background-color: transparent;
  width: 35px;
  height: 35px;
}

#musicToggle {
  font-size: 24px;
  display: inline;
  position: absolute;
  border-radius: 50%;
  border-style: none;
  background-color: transparent;
  width: 35px;
  height: 35px;
}
#musicToggle span {
  color: white;
  position: relative;
  font-weight: bold;
  right: 24px;
}

button:focus {
  outline: 0;
}

#howToPlay {
  position: absolute;
  display: none;
  background-color: white;
  width: 300px;
  border: 2px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#howToPlay .start {
  display: none;
  background-color: #44c767;
  border-radius: 42px;
  border: 5px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
}
#howToPlay .start:hover {
  background-color: #5cbf2a;
}
#howToPlay .start:active {
  position: relative;
  top: 1px;
}

#howToInfo {
  padding: 0px 10px;
}
#nextPrev h2 {
  padding-top: 10px;
}

#nextPrev {
  height: 40px;
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
